html {
  height: 100%;
  width: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    margin: 0rem;
    background-color: #CDDFA3;
    line-height: 1.5;
}
h1 {
    font-size: 2.027rem;
}
h2 {
    font-size: 1.802rem;
}
h3 {
    font-size: 1.602rem;
}
h4 {
    font-size: 1.424rem;
}
p {
    font-size: 1rem;
}
/* main {
    display: flex;
    flex-direction: row;
} */
hr {
    border: 1px solid #023618;
    width:100%;
    background-color: #023618;
}
header {
    background-color: #5E0B15;
    color: white;
    margin: 0rem auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
header h1 {
    color: white;
}
/* Navigation bar */
.nav-desktop {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-left: 2rem;
}
nav a {
    color: white;
    margin-left: 0.5rem;
    margin-right: 2rem;
}
.hamburger {
    display: none;
    margin-left: 1rem;
}
.check {
    position: absolute;
    left: -500px
}
.nav-mobile {
    display: none;
    transform: translateX(-150%);
    transition: transform .5s ease;
    width: fit-content;
}
.nav-mobile ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}


@media (max-width: 40rem) {
    .nav-desktop {display: none;}
    /* .nav-mobile {display: flex; transform: translateX(0%);} */
    .hamburger {display: block;}
    .nav-icon-hamburger {display: block;}
    .nav-icon-close {display: none;}
    .check:checked ~ header {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .check:checked ~ .hamburger .nav-icon-hamburger {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        display: none;
    }
    .check:checked ~ .hamburger .nav-icon-close {
        display: block;
    }
    .check:checked ~ .nav-mobile {
        display: block;
        transform: translateX(0%);
        transition: transform .5s ease;
        z-index: 100;
        opacity: 1;
        
    }
    .check:checked ~ .header-text {
        display: none;
    }
}
/* Heroes page */
.header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@font-face {
    font-family: 'Apple';
    src: url('/font/AppleGaramond.ttf');
}
.heroes-container .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1rem 0.25rem 0rem;
    width: max-content;
    border-radius: 70px;
}
.header-text, .icon {
    margin-left: 1rem;
}
.heroes-container .icon {
    color: black;
}
.heroes-container .icon:hover {
    color: #5E0B15;
}
.heroes-container {
    background-image: url('images/heroes.png');
    min-height: 40rem;
    padding: 1rem 3rem 5rem 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}
.hero-text {
    width: 50%;
    font: monoscript;
    font-size: 1.25rem;
}
.heroes-container p {
    font-size: 1.7rem;
    font-weight: bold;
}
.heroes-container h1 {
    color: #2E0106;
    font-size: clamp(2.5rem, 1.3484848484848484rem + 3.0303030303030303vw, 4rem);
    width: max-content;
}
/* Sections */
.education-body, .music-body {
    width: 100%;
    padding: 1rem 3rem 5rem 3rem;
    display: flex;
    justify-content: space-between;
}
.education-text, .music-text {
    margin-left: 1rem;
    /* For full screen 4rem is better */
}
section {
    margin: 2rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Apple';
    letter-spacing: 1px;
}
.section-title {
    /* border: 0.2rem solid #2E0106; */
    border-radius: 70px;
    background-color: #90A955;
    box-shadow: 0rem 0.5rem 0.5rem -.2rem rgba(0, 0, 0, .2);
    color: #2E0106;
    transition: 2s;
    padding: 1rem;
}
.section-title:hover {
    background-color: #2E0106;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}
.education-image {
    align-self: center;
}
.languages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.project {
    width: 100%;
    padding: 1rem 3rem 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-text {
    align-self: flex-start;
    margin: 1rem;
}
@media (max-width: 40rem) {
    .education-image, .music-image, .projects-image {
        display: none;
    }
    .languages {
        flex-direction: column;
    }
}